@use 'colors';
@use 'font';
@use 'themes';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: font.$font-name;
  font-weight: font.$font-weight-normal;
}

html, body {
  font-size: font.$font-size;
}

body {
  background-color: var(--background-color);
	transition: background-color .25s;
}

.flex {
	display: flex;
}

.main-container {
  max-width: 640px;
  margin: 0 auto;
}

div {
  color: var(--color-font);
}

h2 {
  color: var(--color-font-heading);
  font-weight: font.$font-weight-big;
  margin-left: 14px;
}

button {
  border: none;
  width: 64px;
  height: 28px;
  border-radius: 16px;
  background: var(--toggle);
}

button > div {
  background-color: var(--background-color);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  margin-left: 4px;
}

button:hover {
  background: var(--switcher-hover);
  cursor: pointer;
}

.floating-selector {
  float: right;
  margin-right: 2px;
}

.dashboard, .social-element, .stats-card {
  margin: 8px 1.25rem;
}