@use 'colors';
@use 'font';
@use 'themes';

.social-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: repeat(4, 200px);
}

.social-element, .stats-card {
  background-color: var(--background-color-card);
  border-radius: 4px;
	transition: background-color .25s;
}

.social-element {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-font-secondary);
}

.social-element > span > img {
  margin-top: 8px;
}

.social-element > span {
  align-items: center;
}

.social-element > span > span {
  margin: 8px 0 0 8px;
}

.social-element:hover {
  background-color: var(--background-color-card-hover);
}

#facebook {
  border-top: 4px solid var(--facebook);
}

#twitter {
  border-top: 4px solid var(--twitter);
}

#instagram > div {
  width: 100%;
  height: 4px;
  background: var(--instagram);
  border-radius: 4px 4px 0 0;
}

#youtube {
  border-top: 4px solid var(--youtube);
}