/* General Colors */
/* Dark theme */
/* (BG) */
/* (Top BG Pattern) */
/* (Card BG) */
/* (Text) */
/* (Text) */
/* Light theme */
/* (Top BG Pattern) */
/* (Card BG) */
/* (Text) */
/* (Text) */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.light {
  --background-color: white;
  --background-color-card: #f0f2fa;
  --color-font-secondary: #63687e;
  --color-font: #1e202a;
  --color-font-heading: #63687e;
  --green: #1db489;
  --red: #dc414c;
  --toggle: #aeb3cb;
  --switcher-hover: linear-gradient(to right, #378fe6, #3eda82);
  --background-color-card-hover: #f5f7ff;
}

.dark {
  --background-color: #1e202a;
  --background-color-card: #252a41;
  --color-font-secondary: #8b97c6;
  --color-font: white;
  --color-font-heading: white;
  --green: #1db489;
  --red: #dc414c;
  --toggle: linear-gradient(to right, #378fe6, #3eda82);
  --switcher-hover: linear-gradient(to right, #378fe6, #3eda82);
  --background-color-card-hover: #1f212e;
}

html, body {
  font-size: 14px;
}

body {
  background-color: var(--background-color);
}

.main-container {
  max-width: 640px;
  margin: 0 auto;
}

div {
  color: var(--color-font);
}

h2 {
  color: var(--color-font-heading);
  font-weight: 700;
  margin-left: 14px;
}

button {
  border: none;
  width: 64px;
  height: 28px;
  border-radius: 16px;
  background: var(--toggle);
}

button > div {
  background-color: var(--background-color);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  margin-left: 4px;
}

button:hover {
  background: var(--switcher-hover);
  cursor: pointer;
}

.floating-selector {
  float: right;
  margin-right: 2px;
}

.dashboard {
  padding: 0.5rem;
}

.dashboard span, .dashboard > p, .dashboard {
  font-weight: 700;
}

.dashboard > span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: 8px;
}

.dashboard > p {
  color: var(--color-font-secondary);
  border-bottom: 1px solid var(--color-font-secondary);
  margin: 8px 0;
}

.dashboard > div {
  color: var(--color-font-secondary);
  display: flex;
  justify-content: space-between;
}

.dashboard, .social-element, .stats-card {
  margin: 8px 1.25rem;
}

.social-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: repeat(4, 200px);
}

.social-element, .stats-card {
  background-color: var(--background-color-card);
  border-radius: 4px;
}

.social-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-font-secondary);
}

.social-element > span > img {
  margin-top: 8px;
}

.social-element > span {
  display: flex;
  align-items: center;
}

.social-element > span > span {
  margin: 8px 0 0 8px;
}

.social-element:hover {
  background-color: var(--background-color-card-hover);
}

#facebook {
  border-top: 4px solid var(--facebook);
}

#twitter {
  border-top: 4px solid var(--twitter);
}

#instagram > div {
  width: 100%;
  height: 4px;
  background: var(--instagram);
  border-radius: 4px 4px 0 0;
}

#youtube {
  border-top: 4px solid var(--youtube);
}

.stats-number {
  font-weight: 700;
  font-size: 3rem;
  color: var(--color-font);
  margin-top: 8px;
}

.followers {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 8px;
}

.today {
  color: var(--color-font);
  margin: 8px 0;
}

.today > img {
  width: 12px;
  height: 8px;
  margin: 0 4px 8px 0;
}

.stats-up {
  color: var(--green);
}

.stats-down {
  color: var(--red);
}

.stats-card:hover {
  background: var(--background-color-card-hover);
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 120px);
}

.stats-card {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item-1 item-3" "item-2 item-4";
}

.stats-card-item-1 {
  grid-area: item-1;
  color: var(--color-font-secondary);
  font-size: 1.1rem;
}

.stats-card-item-2 {
  grid-area: item-2;
  font-size: 2.2rem;
}

.stats-card-item-3 {
  grid-area: item-3;
}

.stats-card-item-4 {
  grid-area: item-4;
}

.stats-card-item-4 > img {
  width: 12px;
  height: 8px;
  align-self: center;
  margin-right: 4px;
}

.stats-card-item-1, .stats-card-item-2, .stats-card-item-3, .stats-card-item-4 {
  display: flex;
  align-self: center;
}

.stats-card-item-1, .stats-card-item-2 {
  font-weight: 700;
  margin-left: 10px;
}

.stats-card-item-3, .stats-card-item-4 {
  justify-self: center;
}

@media only screen and (min-width: 1024px) {
  .main-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .dashboard > div {
    justify-content: flex-end;
  }

  .dashboard > div > span {
    align-self: center;
    margin-right: 4px;
  }

  .social-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .stats-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 120px);
  }
}

/*# sourceMappingURL=style.css.map */
